@model ICollection<FinalProjectOfUnittest.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Total AI project</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                AI Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a asp-controller="Ticket" asp-action="Index" asp-route-projectid=@item.Id asp-route-projectname=@item.Name>@item.Name</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit Title</a> |
                <a asp-action="AssignUser" asp-route-projectid="@item.Id">Assign User</a> |
                <a asp-action="UnassignUser" asp-route-projectid="@item.Id">Unassign User</a> |
            </td>
        </tr>
}
    </tbody>
</table>
