@model ViewModel

<h1>@Model.project1.Name</h1>
<h3>-All users in this project-</h3>
<ul>
    @foreach(var projectuser in Model.project1.ProjectUsers)
    {
        <li>@projectuser.User.UserName</li>
    }
</ul>

<form method="Post" asp-action="UnassignUser" asp-route-projectid=@Model.project1.Id>
    <select name="userid" asp-items=@Model.selectList1 ></select>
    <button type="submit">Submit</button>
</form>

<h3>
    @if(ViewBag.Message!=null)
    {
        @ViewBag.Message
    }
</h3>