@model List<Project>
@{
    var IsAdmin = User.IsInRole("Administrator");
    var IsProjectManager = User.IsInRole("ProjectManager");
    var IsDeveloper = User.IsInRole("Developer");
    var IsSubmitter = User.IsInRole("Submitter");
}




<div class="text-center">
   
    <h1 >Welcome To Support Demo.</h1>
   

    <ul style="list-style-type: none;">

    @foreach(var project in Model)
    {
      <li style="color:red;font-size:50px"><a asp-route-projectid=@project.Id asp-route-projectname=@project.Name asp-action="Index" asp-controller="Ticket"  style="text-decoration:none">>>Go to @project.Name Support List </a></li>  
    }
    </ul>
  
    <h1>Guest login in the login page can makes you explore all things<a></a></h1>
</div>

@*<form method="post" asp-controller="Mail" asp-action="sendMail">
    <button type="submit">Email</button>
</form>*@

