@model AppUser
<h1>RecoverPassword</h1>
<form method="Post" asp-route-email=@Model.UserName asp-action="RecoverPassword">
    new Password : <input name="password" type="password"/><br/>
    confirm Passowrd : <input name="confirmpassword" type="password" />
    <p>@ViewBag.Message</p>
    <button type="submit">Submit</button>
</form>
<p>@ViewBag.Success</p>

