@model FinalProjectOfUnittest.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <select asp-for="TicketType" class="form-control" asp-items="@Html.GetEnumSelectList<TicketTypes>()"></select>
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="Created" class="form-control" value=@DateTime.Now />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
           <div class="form-group">
                
                <input type="hidden" asp-for="Updated" class="form-control"/>
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="ProjectId" class ="form-control" value=@ViewBag.ProjectId/>
            </div>
           
            <div class="form-group">
               
                <input type="hidden" asp-for="TicketPriority" class="form-control" value=2 />
                <span asp-validation-for="TicketPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="TicketStatus" class="form-control" value=0 />
                <span asp-validation-for="TicketStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input type="hidden" asp-for="OwnerUserId" class ="form-control" value=@ViewBag.UserId></input>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="AssignedToUserId" class ="form-control"></input>
            </div>
            @*this is for file upload *@
            <div class="form-group">
            <p><label class="control-label">Attachments</label><br/>
            <input name="files" type="file" multiple/>
            
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
